CONFIG PART=xc6slx9-TQG144-2;
NET "LED[3]" IOSTANDARD=LVTTL | LOC="P127";
NET "LED[2]" IOSTANDARD=LVTTL | LOC="P126";
NET "LED[1]" IOSTANDARD=LVTTL | LOC="P124";
NET "LED[0]" IOSTANDARD=LVTTL | LOC="P123";
NET "CLKIN" IOSTANDARD=LVTTL | LOC="P94";
