CONFIG PART=xc3s250e-VQ100-4;
NET "LED[0]" IOSTANDARD=LVTTL | LOC="P5";
NET "LED[1]" IOSTANDARD=LVTTL | LOC="P9";
NET "LED[2]" IOSTANDARD=LVTTL | LOC="P10";
NET "LED[3]" IOSTANDARD=LVTTL | LOC="P11";
NET "LED[4]" IOSTANDARD=LVTTL | LOC="P12";
NET "LED[5]" IOSTANDARD=LVTTL | LOC="P15";
NET "LED[6]" IOSTANDARD=LVTTL | LOC="P16";
NET "LED[7]" IOSTANDARD=LVTTL | LOC="P17";
NET CLKIN LOC="P89" | IOSTANDARD = LVCMOS25 | PERIOD = 31.25ns ;
