CONFIG PART=xc6slx9-TQG144-2;
NET "LED[0]" IOSTANDARD=LVTTL | LOC="P123";
NET "SWITCH[4]" IOSTANDARD=LVTTL | LOC="P118";
NET "SWITCH[3]" IOSTANDARD=LVTTL | LOC="P117";
NET "SWITCH[2]" IOSTANDARD=LVTTL | LOC="P116";
NET "SWITCH[1]" IOSTANDARD=LVTTL | LOC="P115";
NET "SWITCH[0]" IOSTANDARD=LVTTL | LOC="P114";
NET "CLKIN" IOSTANDARD=LVTTL | LOC="P94";
